html { 
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: #fff;
    color: #5f5f5f;
}

a {
    text-decoration: none;
    color: #607EF7;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    margin: 0;
    text-align: center;
    color: #051854;
}

h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0.5em;
    text-align: center;
    margin-bottom: 0;
    color: #5f5f5f;
    line-height: 40px;
    margin-top: 5px;
}

.titleTop h2 {
    margin-top: 12px;
}

.title {
    padding-top: 14px;
}

li {
    list-style: none;
    display: inline-block;
}

.wrapper {
    max-width: 1170px;
    margin: 0 10%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
}

#a01,
#a02,
#a03,
#a04 {
    content: "";
    display: block;
    padding-top: 70px; /* 調整したい高さ（固定ヘッダーの高さ） */
    margin-top: -70px; /* heightと同じ分のネガティブマージン */
    visibility: hidden;
}


@media screen and (max-width: 767px) {
    .wrapper {
        max-width: none;
        min-width: none;
        width: 100%;
        margin: 0;
    }
    h1 {
        text-align: center;
        font-size: 30px;
    }
    h1::before {
        width: 50px;
        height: 3px;
        left: calc(50% - 25px);
    }

    h2 {
        font-size: 15px;
        text-align: center;
    }
}

/*-----------------
文章改行のコントロール
-----------------*/

.br_appear {
    display: none;
}

@media screen and (max-width: 767px){
    .br_appear {
        display: block;
    }
    .br_disappear {
        display: none;
    }
}

/*-----------------
背景
-----------------*/
#backgraund01 {
    background-color: #fff;
    padding-top: 160px;
}

#backgraund02 {
    background-color: #f5f5f5;
}

#backgraund03 {
    background-color: #fff;
}

@media screen and (max-width: 767px) {
    #backgraund01 {
        padding-top: 45px;
    }
}

/*-----------------
トップ画像
-----------------*/

/*-----------------
アンカーリンク
-----------------*/
#link {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 60px;
    background: #ffffffCC;
    z-index: 20;
    transition: all ease 0.3s;
}

#link a {
    font-size: 16px;
    font-weight: 400;
    color: #051854;
    margin-left: 60px;
}

#link a:hover {
    color: #051754c4;
}

#link ul {
    display: inline-block;
    max-width: 1070px;
    margin-top: 35px;
    align-items: center;
}

#link li::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    border-top: 13px solid #051854;
    border-bottom: 0;
    display: inline-block;
    position: relative;
    right: -15px;
}

@media screen and (max-width: 767px) {
    #link {
    width: 100%;
    height: 45px;
    top: 48px;
    text-align: center;
    }
    #link a {
        font-size: 12px;
        margin-left: none;
        margin: auto;
        padding: 0 10px;
    }
    
    #link ul {
        display: inline-block;
        width: 90%;
        margin-top: 15px;
        align-items: center;
        justify-content: space-around;
        transform: translateX(-18px);
    }

    #link li::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        border-top: 8px solid #051854;
        border-bottom: 0;
        display: inline-block;
        right: 0px;
        transform: translateX(-8px);
    }
    
}


/*-----------------
会社概要
-----------------*/
#CompanyProfile {
    margin-top: 57px;
    width: 950px;
    padding: 0 20px;
}

#CompanyProfile table {
    margin-top: 90px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-spacing: 0;
    width: 100%;
}

#CompanyProfile tbody {
    width: 100%;
}

#CompanyProfile th,
#CompanyProfile td {
    text-align: left;
    border-bottom: none;
    border-top: 0.3px solid #ececec;
    padding: 37px 20px 37px 0px;
    margin: 0 0 -1px;
    line-height: 33pt;
    vertical-align: top;
}

#CompanyProfile .lastLine th,
#CompanyProfile .lastLine td {
    border-bottom: 0.3px solid #ececec;
}

#CompanyProfile th {
    font-weight: 800;
    min-width: 150px;
    max-width: 200px;
    padding-right: 42px;
    line-height: 26pt;
}

#CompanyProfile td {
    width: 100%;
}

@media screen and (max-width: 767px) {
    #CompanyProfile {
        width: 100%;
        padding: 0;
    }
    #CompanyProfile table {
        text-align: left;
        margin-top: 15px;
        border-spacing: 100%;
    }
    #CompanyProfile tbody {
        width: 85%;
    }
    #CompanyProfile th,
    #CompanyProfile td {
        width: 100%;
        display: block;
    }
    #CompanyProfile th {
        padding: 20px 0 10px 0;
        font-size: 16px;
        min-width: none;
        max-width: none;
        width: 100%;
    }
    #CompanyProfile td {
        border-top: none;
        padding-top: 0;
        padding-bottom: 30px;
        line-height: 25px;
        font-size: 14px;
    }
    #CompanyProfile .lastLine th {
        border-bottom: none;
    }
}


/*-----------------
アクセス
-----------------*/
#AccessMap{
    width: 950px;
    margin-top: 200px;
    margin-bottom: 140px;
    padding: 0 20px;
}

.map {
    margin-top: 90px;
}

.map iframe {
    /*min-width: 800px;*/
    width: 100%;
    height: 496px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 24px;
} 

.map p {
    max-width: 1080px;
    font-size: 18px;
    line-height: 32px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 auto;
    display: flex;
    text-align: left;
}

@media screen and (max-width: 767px) {
    #AccessMap{
        width: 100%;
        margin-top: 92px;
        margin-bottom: 70px;
    }
    .map {
        margin-top: 60px;
    }
    .map p {
        margin-top: 20px;
    }
    .iframeWrap {
        position: relative;
        margin: 0 auto;
        width: 85vw;
        height: 0;
        padding-bottom: 78vw;
        overflow: hidden;
        border-radius: 16px;
    }
    
    .map iframe {
        min-width: none;
        width: 85vw;
        height: 73vw;
    }

    .map p {
        width: 85%;
        margin-left: 7.5%;
        font-size: 14px;
        line-height: 25px;
    }
}

/*-----------------
事業内容
-----------------*/
#BusinessContant {
    width: 1212px;
    margin: auto;
    font-size: 20px;
    padding-top: 90px;
}

.bcBox {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    padding-bottom: 140px;
}

.bcBox a {
    width: auto;
    height: auto;
    margin-right: 96px;
}


#BusinessContant .imgBox {
    width: 558px;
    height: 274px;
    overflow: hidden;
    border-radius: 24px;
}

#BusinessContant img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}

#BusinessContant .aiComputing:hover {
    img {transform: scale(1.2);
    transition: 0.3s;}
}

.TextBox {
    color: #fff;
    position: absolute;
    transform: translate(55px, -234px);
    width: 420px;
    font-size: 18px;
    font-weight: 300;
    line-height: 37px;
}

.TextBox h3 {
    font-size: 25px;
    font-weight: 600;
}

.TextBox p {
    margin-top: 18px;
}

.btnBc {
    font-size: 12px;
    font-weight: 400;
    width: 140px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 17px;
    color: #051854;
    transform: translate(315px, -12px);
    padding: 0 auto;
}

.inactive {
    background-color: #c4c4c4;
}

@media screen and (max-width: 767px) {
    #BusinessContant {
        width: 85%;
        padding: 0 auto;
        padding-top: 65px;
        padding-bottom: 85px;
    }

    .bcBox {
        margin-top: 50px;
        display: block;
        padding-bottom: 40px;
    }
    .aiApp {
        margin-top: 15px;
    }
    #BusinessContant .imgBox {
        width: 85vw;
        height: 296px;
    }
    #BusinessContant img {
        object-fit: cover;
    }
    .TextBox {
        color: #fff;
        display: block;
        margin: 40px auto;
        width: 80%;
        font-size: 15px;
        font-weight: 400;
        line-height: 37px;
        transform: translate(12vw, -290px);
    }
    .TextBox h3 {
        font-size: 22px;
        font-weight: 700;
    }
    .TextBox p {
        font-size: 14px;
        margin-top: 14px;
    }
    .btnBc {
        font-size: 12px;
        font-weight: 400;
        width: 140px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 17px;
        color: #051854;
        transform: translateX(33vw);
        padding: 0 auto;
    }
    
}

/*-----------------
沿革
-----------------*/
#History {
    margin-top: 90px;
    width: 790px;
    padding: 0 20px;
    list-style: none;
}

#History table {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-spacing: 0;
    width: 100%;
}

#History tbody {
    width: 100%;
}

#History th,
#History td {
    text-align: left;
    border: none;
    padding: 37px 20px 37px 0px;
    margin: 0 0 -1px;
    line-height: 18pt;
    vertical-align: top;
    appearance: none;
    font-size: 18px;
    font-weight: 400;
}


#History th {
    min-width: 150px;
    max-width: 200px;
    padding-right: 42px;
}

#History td {
    width: 100%;
}

@media screen and (max-width: 767px) {
    #History {
        width: 100%;
        padding: 0;
    }
    #History table {
        text-align: left;
        margin-top: 15px;
    }
    #History tbody {
        width: 85%;
    }
    #History th,
    #History td {
        width: 100%;
        display: block;
    }
    #History th {

        border-bottom: none;
        padding: 30px 0 10px 0;
        font-size: 16px;
    }
    #History td {
        padding-top: 0;
        padding-bottom: 30px;
        line-height: 25px;
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    #a04 {
        padding-top: 80px;
    }
    .history-list {
        width: 100%;
        margin-top: 20px;
    }
    .history-list ul {
        width: 85%;
        justify-content: center;
        margin: 0 auto;
    }
    #History .history-list li{
        width: 85vw;
        overflow: visible;
        font-size: 15px;
        overflow-wrap: break-all;
        white-space: wrap;
        line-height: 25px;
    }
}

/*-----------------
AIフレームワークの開発の歴史
-----------------*/
.wrapper02 {
    max-width: 950px;
    margin: 120px auto 150px auto;
    font-size: 18px;
    font-weight: 500;
    color: #5f5f5f;
    padding: 0 20px;
}

#History02 .history-list02 {
    background-color: #ebebeb66;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 60px;
    border-radius: 24px;
}

#History02 .history-list02 h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 85px;
    margin-top: 0;
}

#History02 .history-list02 ul {
    margin: 0;
}

#History02 .history-list02 li {
    padding-bottom: 50px;
}

#History02 .history-list02 li:last-child {
    padding-bottom: 0;
}

#History02 .space {
    content: '';
    padding-left: 60px;
}

@media screen and (max-width: 767px) {
    .wrapper02 {
        max-width: 95%;
        padding: 0;
        margin: 120px auto 150px auto;
    }
    #History02 .history-list02 {
        padding: 35px 20px;
    }
    #History02 .history-list02 h3 {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 30px;
        margin-top: 0;
    }
    #History02 .history-list02 li {
        font-size: 15px;
    }
}


/*-----------------
お問い合わせ
-----------------*/
#ContactUs {
    width: 100%;
    height: 258px;
    background-color: #ec3155;
    text-align: center;
    display: flex;
    position: relative;
    justify-content: center;
}

#ContactUs a {
    color: #fff;
    display: block;
    padding-top: 60px;
}

#ContactUs h1 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

#ContactUs h1::before {
    content: none;
}

.arrow {
    content: '';
    width: 19px;
    height: 19px;
    border: 0;
    border-bottom: solid 3px #ffffff;
    border-right: solid 3px #ffffff;
    transform: rotate(45deg);
    display: flex;
    margin: 0 auto 15px auto;
}

#ContactUs p {
    margin-top: 8px;
    font-size: 20px;
}


@media screen and (max-width: 767px) {
    #ContactUs {
        width: 100%;
        height: 160px;
    }
    #ContactUs h1 {
        font-size: 16px;
        font-weight: 700;
        color: #fff;
    }
    #ContactUs p {
        margin-top: 12px;
        font-size: 12px;
    }
    #ContactUs a {
        padding-top: 30px;
    }
}


/* アニメーションの初期状態 */
.anim01,
.title {
    opacity: 0; /* 最初は完全に透明 */
    transform: translateY(10px); /* 少し下にずらしておく */
    transition: opacity 1s ease-out, transform 1s ease-out; /* 透明度と位置が1秒かけて変化 */
}

/* 画面に表示されたときに適用するクラス */
.anim01.is-visible,
.title.is-visible {
    opacity: 1; /* 不透明にして表示 */
    transform: translateY(0); /* 元の位置に戻す */
}
