.section-inner4 {
  color: #fff;
  background-color: #141e53;
}
.section-inner4 .sectionTitle h2 {
  color: #fff;
}
.contact-area {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  gap: 80px;
  margin-top: 40px;
  padding-bottom: 50px;
  min-width: 700px;
}
.contact-left {
  width: 40%;
  text-align: left;
}
.contact-left p {
  margin-top: 20px;
  margin-bottom: 70px;
  font-size: 1.5vw;
  font-size: clamp(11px, 1.5vw, 18px);
}
.contact-right {
  width: 50%;
  text-align: left;
  min-width: 250px;
}

.contact-img {
  content: "";
  width: 100%;
  height: 600px;
  background-image: url(../img/img_contact.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* 会社名、名前、Eメール */
.contact-right .form-columns-1 input{
  margin: 0;
  width: 550px;
  max-width: none;
  height: 30px;
  border-radius: 3px;
}
.hs-form-43006080-09e2-4c52-9fb0-181e2225b100_1b8173a4-0fac-460f-86eb-9e9a76b17875 fieldset .form-columns-1{
  max-width: 800px;
}
/*送信ボタン*/
.contact-right .actions input {
  margin: 0;
  width: 100px;
  height: 30px;
  border-radius: 3px;
}
/*問い合わせボタン*/
.contact-right textarea {
  border-radius: 5px;
  height: 100px;
}


/* 名前入力欄 */
.contact-right .form-columns-2 input {
    width: 90%;
}
.contact-right .form-columns-2 .input {
    margin-right: none !important;
}
.contact-right .form-columns-2 {
    display: flex;
    justify-content: space-between;
}

.hs-form-43006080-09e2-4c52-9fb0-181e2225b100_fec1ad1a-c314-49a9-9fbc-263d33da5ed7 fieldset.form-columns-1 .hs-input {
    width: 100%;
}