body {
  margin: 0;
  overflow-x: hidden;
}

section {
    width: 100vw;
    height: auto;
}

.inner-space {
    width: 80%;
}

/*ナビゲーションエリア*/

.subNavArea {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: flex;  
  align-items: center;
  position: fixed;
  background-color: #ffffffd4;
  z-index: 65;
  top: 60px;
}
.subNavArea .subNavTitle {
  display: block;
  font-size: 21px;
  font-weight: bold;
  width: 300px;
  margin-left: 80px;
}
.site-menu ul {
  display: flex;
}
.site-menu ul li {
  margin: auto 20px;
  margin-top: 4px;
  font-size: 14px;
  font-weight: bold;
}
@media (max-width: 1023px) {
  .subNavArea {
    top: 45px;
  }
}
@media (max-width: 767px) {
  .subNavArea {
    height: 40px;
    height: 50pt;
  }
  .subNavArea .subNavTitle {
    font-size: 15px;
    margin-left: 20px;
  }
  .site-menu ul li {
    margin: auto 10px;
    font-size: 10px;
  }
}
.site-menu a:hover {
  color: #5e5e5e;
}
.subNavTitle:hover {
  color: #5e5e5e;
}

/* セクション背景 */

.section1 {
    background-color: #D5E1EF;
}

.section2 {
    background-color: #D5E1EF;
}
.section-inner2 {
    background-color: #FFFFFF;
    border-radius: 90px, 90px, 0px, 0px;
}

.section3 {
    background-color: #FFFFFF;
}
.section-inner3 {
    background-color: #ECEEF4;
    border-radius: 90px, 90px, 0px, 0px;
}

.section4 {
    background-color: #ECEEF4;
}
.section-inner4 {
    background-color: #FFFFFF;
    border-radius: 90px, 90px, 0px, 0px;
}

.section5 {
    background-color: #FFFFFF;
}
.section-inner5 {
    background-color: #141E53;
    border-radius: 90px, 90px, 0px, 0px;
}


/* MVエリア */

.mv_mobile {
    display: none;
}

.mv-area {
    width: 100vx;
    min-height: 797px;
    background-color: #141E53;
    margin-top: 140px;
}

.mv-area img {
    width: 100%;
    min-height: 797px;
    object-fit: cover;
}
